{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
	<div class="page-header">
		<h1>About</h1>
	</div>
	<div id="msg">Hello</div>
	<div>
		<p>This is <strong>Rango's about page</strong>.</p>
		<p>You've visited the site <strong>{{ visits }} time{{ visits|pluralize }}</strong>.</p>
		<p>And here's Bonnie <q>Prince</q> Billy:</p>
		<img width="500" src="{% static "images/bonnie.jpg" %}" alt="Picture of Rango" /> <!-- New line -->

		</br>
		</br>

		<button id="about-btn"> Click Me - I'm Javascript on Speed</button>
		</br>
		</br>
		<p>This is an example</p>
		<p>This is another example</p>
	</div>
{% endblock %}
